In [2]:
l =[ "name", 'emailid', 'phoneno', 'address']

In [4]:
for i in l :
    print(i + ' vaibhav')

name vaibhav
emailid vaibhav
phoneno vaibhav
address vaibhav

In [6]:
## for else
s = 'IANT'
for i in s :
    print(i)
else:
    print('If for loop is going to conplete itself then it ill come to else')

I
A
N
T
If for loop is going to conplete itself then it ill come to else

In [7]:
l

['name', 'emailid', 'phoneno', 'address']

In [8]:
for i in l:
    if i == 'name' :
        break
    print(i)
else :
    print('please check this statement')

In [9]:
for i in l:
    if i == 'address' :
        break
    print(i)
else :
    print('please check this statement')

name
emailid
phoneno

In [10]:
s = "vaibhav"
for i in s :
    if i == 'x':
        break
else:
    print('dnt executute')

dnt executute

In [ ]:
# while statements

In [11]:
a = 1
while a < 6:
    print(a)
    a = a+1

1
2
3
4
5

In [12]:
a=1
while a< 5 :
    print(a)
    if a==4:
        break
    a = a+1

1
2
3
4

In [13]:
a = 1
while a< 19:
    print(a)
    if a ==10:
        break
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [22]:
#skip
a =0
while a < 6 :
    
    a = a + 1
    if a == 3:
        continue #skip
    print(a)

1
2
4
5
6

In [23]:
range(4)    #raNge#############

range(0, 4)

In [24]:
list(range(6))   #starts from till 6 excuding 6

[0, 1, 2, 3, 4, 5]

In [25]:
list(range(4,15))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [26]:
list(range(3,15,2))

[3, 5, 7, 9, 11, 13]

In [27]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [28]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [29]:
n = 6
for i in range (0,n):
    for j in range(0, i+1):
        print('*', end ='  ') #Default value of end+='' is \n 
    print('\r')               
# print('My name \r is \r vaibhav')

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

In [30]:
for i in range (0,n):
    for j in range(0, i+1):
        print('*' )
    print('\r')

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

In [31]:
for i in range (0,n):
    for j in range(0, i+1):
        print('VB ', end ='')
    print('\r')

VB
VB VB
VB VB VB
VB VB VB VB
VB VB VB VB VB
VB VB VB VB VB VB

In [32]:
for i in range (0,n):
    for j in range(0, i+1):
        print('VB')
    print('\r')

VB

VB
VB

VB
VB
VB

VB
VB
VB
VB

VB
VB
VB
VB
VB

VB
VB
VB
VB
VB
VB

In [35]:
for i in range (0,n):
    for j in range(0, i+1):
        print('* ', end ='#')
    print('\r')  #new line withount gap

* #
* #* #
* #* #* #
* #* #* #* #
* #* #* #* #* #
* #* #* #* #* #* #

In [39]:
for i in range (0,n):
    for j in range(0, i+1):
        print('*', end ='')
    print('\r')

*
**
***
****
*****
******

In [43]:
# similary we have to print from 6

In [38]:
l = [1,2,3,4,5,6,8,7,8,]
for i in l:
    print(i)

1
2
3
4
5
6
8
7
8

In [ ]:
t = (5,8,9,85,6)
for i in  t:
    print(i)

In [ ]:
t = (3,4,5,6,7,8,9)
for i in range(len((t))):
    print(i,t[0])

In [ ]:
d = 'IANT'
for i in d:
    print(i)

In [ ]:
t

In [ ]:
t[::-1]

In [ ]:
v = (3,4,5,6,7,8,9)

In [ ]:
t

In [ ]:
for i in range(len(t)-1 ,-1 ,-1):
    print(t[i])

In [ ]:
range(len(t)-1 ,-1 ,-1) ###upside

In [ ]:
for i in range(len(t)-1 ,-1 ,-1): #working of upside
    print(i)

In [ ]:
d = {"a" : 'fsdsfds' , 'b': 'fghdg' , 'c' : '[1,2,3,4,5]', 'd' : (1,2,3,6,7,8), 'e': 'vvb'}

In [ ]:
d['d']

In [ ]:
for i in d:
    print(i,d[i])

In [ ]:
d.items()

In [ ]:
for i in d.items():
    print(i)

In [ ]:
s = {3,454,554,4,4,8454,8,4895,5,5}

In [ ]:
s

In [ ]:
for i in s:
    print(i)

In [46]:
num_rows = int(input("Enter the number of rows for the reverse right triangle: "))

current_row = num_rows
while current_row >= 1:
    # Print asterisks for the current row
    print("*" * current_row)
    
    # Decrement the current row counter
    current_row -= 1

Enter the number of rows for the reverse right triangle: 8
********
*******
******
*****
****
***
**
*

In [47]:
size = int(input("Enter the size of the heart: "))

# Upper part
for i in range(size, 0, -1):
    print(" " * (size - i) + "*" * (2 * i - 1))

# Lower part
for i in range(size // 2, size + 1):
    print(" " * (size - i) + "*" * (2 * i - 1))

Enter the size of the heart: 5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [48]:
num_rows = int(input("Enter the number of rows for the diamond (odd number): "))

# Make sure the number of rows is odd
if num_rows % 2 == 0:
    num_rows += 1

# Upper the diamond
for i in range(1, (num_rows // 2) + 1):
    print(" " * ((num_rows // 2) - i) + "*" * (2 * i - 1))

# Middle of the diamond
print("*" * num_rows)

# Lower half of the diamond
for i in range((num_rows // 2), 0, -1):
    print(" " * ((num_rows // 2) - i) + "*" * (2 * i - 1))

Enter the number of rows for the diamond (odd number): 10
    *
   ***
  *****
 *******
*********
***********
*********
 *******
  *****
   ***
    *